.uk-panel-box {
    padding: 15px 0;
    background: #ccc;
    color: #444;
    border: 1px solid #bbb;
}

.uk-padding-bottom-remove {
  padding-bottom: 0px;
}

.uk-padding-left {
  padding-left: 15px;
}

.uk-padding-right {
  padding-right: 15px;
}
